<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->


    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thesis archiver Forum</title>
</head>

<body>
    <%- include('../_header.ejs') %>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                <center>
                    <h1 class="mb-4"><b>Add New Paper</b></h1>
                </center>
                <form action="/papers" method="POST">
                    <%- include('_form_fields') %>
                </form>
            </div>
        </div>
    </div>
</body>
</html>